//Llamado del modulo colores para utilizar los colores de la libreria
@use 'colores';
//Declaracion de las variables borde (tamaño del borde) tipo (tipo de borde en este caso solid)
$tipo: solid;

$color-solido: (
      "primario": colores.$primario,
      "secundario": colores.$secundario,
      "terciario": colores.$terciario,
      "exito": colores.$exito,
      "peligro": colores.$peligro,
      "advertencia": colores.$advertencia,
      "informacion": colores.$informacion,
      "claro": colores.$claro,
      "oscuro": colores.$oscuro,
);

$color-rgb:(
        "r1": colores.$rgb-1,
        "r2": colores.$rgb-2,
        "r3": colores.$rgb-3,
        "r4": colores.$rgb-4,
        "r5": colores.$rgb-5,
);

$tamanio:(
        "1": 3px,
        "2": 7px,
        "3": 10px,
        "4": 13px,
        "5": 16px,
);

$lados: (
        "b": 1px,
        "bar": top,
        "bde": right,
        "bab": bottom,
        "biz": left,
);

//funcion para generar las clases de borde general como uno a cada lado con un color solido
@each $lado, $valorlado in $lados {
    @each $borde, $valorborde in $tamanio {
        @each $color, $valorcolor in $color-solido {
            @if $lado == "b"{
                .#{$lado}-#{$color}-#{$borde} {   
                    border-color: $valorcolor;
                    border-style: $tipo;
                    border-width: $valorborde;
                }
            }
    
            @if $lado != "b"{
                .#{$lado}-#{$color}-#{$borde} {   
                    border-color: $valorcolor;
                    border-style: $tipo;
                    border-#{$valorlado}-width: $valorborde;
                }
            }
        }
    }
}

//funcion para generar las clases de bordes (un borde a los 4 lados) con un modo de color rgb
@each $lado, $valorlado in $lados {
    @each $borde, $valorborde in $tamanio {
        @each $borde, $valorborde in $tamanio {
            @each $color, $valorcolor in $color-rgb {
                @if $lado == "b"{
                    .#{$lado}-#{$color}-#{$borde} {   
                        border-image: $valorcolor 1;
                        border-style: $tipo;
                        border-width: $valorborde;
                    }
                }
        
                @if $lado == "bar" {
                    .#{$lado}-#{$color}-#{$borde} {   
                        border-image: $valorcolor 1;
                        border-style: $tipo;
                        border-width: $valorborde 0 0 0;
                    }
                }
                
                @if $lado == "bde" {
                    .#{$lado}-#{$color}-#{$borde} {   
                        border-image: $valorcolor 1;
                        border-style: $tipo;
                        border-width: 0 $valorborde 0 0;
                    }
                }
                
                @if $lado == "bab" {
                    .#{$lado}-#{$color}-#{$borde} {   
                        border-image: $valorcolor 1;
                        border-style: $tipo;
                        border-width: 0 0 $valorborde 0;
                    }
                }
                
                @if $lado == "biz" {
                    .#{$lado}-#{$color}-#{$borde} {   
                        border-image: $valorcolor 1;
                        border-style: $tipo;
                        border-width: 0 0 0 $valorborde;
                    }
                }
            }
        }
    }
}