@use '_colores' as * ;

$shadow-1: rgb(185, 180, 180);
$shadow-2:10px 5px 5px $oscuro ;
$shadow-3: inset 4px 4px 4px 0 rgba(20, 20, 20, 0.2);
$shadow-superior:-15px -25px 10px $oscuro;
$shadow-inferior:25px 25px 10px $oscuro;
$shadow-rgb1:2px 2px 8px 0 rgb(209, 102, 221), 4px 4px 16px 0 #d66, 0px 0px 24px 2px rgb(221, 197, 102);
$shadow-rgb2:2px 2px 8px 0 rgb(73, 72, 73), 4px 4px 16px 0 rgb(58, 56, 56), 0px 0px 24px 2px rgb(55, 60, 143);
$shadow-rgb3:2px 2px 8px 0 rgb(81, 16, 88), 4px 4px 16px 0 rgb(2, 1, 1), 0px 0px 24px 2px rgb(43, 12, 51);
$t-shadow: 4px 6px 8px black;


.sombra-1{

box-shadow: $shadow-1;

}
.sombra-2{

    box-shadow: $shadow-2;

    
}
.sombra-3{

box-shadow: $shadow-3;
    
}
.sombra-superior{

    box-shadow: $shadow-superior;
    
}

.sombra-inferior{

    box-shadow: $shadow-inferior;
    
}

.srgb-1{

    box-shadow: $shadow-rgb1;
    
}
.srgb-2{

    box-shadow: $shadow-rgb2;
    
}

.srgb-3{

    box-shadow: $shadow-rgb3;
    
}

.tex-s{

text-shadow: $t-shadow;

}





